{% extends 'base.html' %}

{% block content %}


        <!-- Page Content-->
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h1 class="display-5 fw-bolder mb-0"><span class="text-gradient d-inline">Resume</span></h1>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-sm-12 col-lg-11 col-xl-9 col-xxl-8">
                    <!-- Experience Section-->
                    <section>
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <h2 class="text-primary fw-bolder mb-0">Experience</h2>
                            <!-- Download resume button-->
                            <!-- Note: Set the link href target to a PDF file within your project-->
                            <a class="btn btn-primary px-4 py-3" href="#!">
                                <div class="d-inline-block bi bi-download me-2"></div>
                                Download Resume
                            </a>
                        </div>
                        <!-- Experience Card 1-->


                        {% for experience in experiences %}
                        
                        <div class="card shadow border-0 rounded-4 mb-5">
                            <div class="card-body p-5">
                                <div class="row align-items-center gx-5">
                                    <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                        <div class="bg-light p-4 rounded-4">
                                            <div class="text-primary fw-bolder mb-2">{{experience.start_date | date:"M Y"}} - {{experience.end_date | date:"M Y"}}</div>
                                            <div class="small fw-bolder">{{experience.position}}</div>
                                            <div class="small text-muted">{{experience.company}}</div>
                                            <div class="small text-muted">{{experience.location}}</div>
                                        </div>
                                    </div>
                                    
                                    
                                    {% if experience.description %}
                                    <div class="col-lg-8">
                                        <h3>Description</h3>
                                        <div>{{experience.description}}</div>
                                    </div>
                                    {% else %}
                                    <div class="col-lg-8">
                                        <h3>Description</h3>
                                        <div><p>No Description Available!</p></div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% empty %}
                        <p>Sorry No Experience Available!</p>
                        {% endfor %}



                    </section>
                    <!-- Education Section-->
                    <section>
                        <h2 class="text-secondary fw-bolder mb-4">Education</h2>

                        {% for edu in educations %}
                        
                         <!-- Education Card 1-->
                         <div class="card shadow border-0 rounded-4 mb-5">
                            <div class="card-body p-5">
                                <div class="row align-items-center gx-5">
                                    <div class="col text-center text-lg-start mb-4 mb-lg-0">
                                        <div class="bg-light p-4 rounded-4">
                                            <div class="text-secondary fw-bolder mb-2">{{edu.end_date}}</div>
                                            <div class="mb-2">
                                                <div class="small fw-bolder">{{edu.abbr}}</div>
                                                <div class="small text-muted">{{edu.location}}</div>
                                            </div>
                                        
                                        </div>
                                    </div>
                                    <div class="col-lg-8"><div>
                                        <h3>{{edu.title}}</h3>
                                        <h6>{{edu.institution}}</h6>
                                        <p>{{edu.start_date}} - {{edu.end_date}}</p>
                                    </div></div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}






                       
                     
                    </section>
                    <!-- Divider-->
                    <div class="pb-5"></div>
                    <!-- Skills Section-->
                    <section>
                        <!-- Skillset Card-->
                        <div class="card shadow border-0 rounded-4 mb-5">
                            <div class="card-body p-5">
                                <!-- Professional skills list-->



                                <div class="mb-5">

                                    <div class="d-flex align-items-center mb-4">
                                        <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-tools"></i></div>
                                        <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Professional Skills</span></h3>
                                    </div>




                                    <div class="row row-cols-1 row-cols-md-3 mb-4 ">
                                        {% for skill in skills %}
                                        <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100">{{skill.name}} </div></div>
                                        {% empty %}
                                        <p>No Data Available !</p>
                                        {% endfor %}

                                        
                                       
                                    </div>
                                  
                                </div>
                                <!-- Languages list-->
                                <div class="mb-0">
                                    <div class="d-flex align-items-center mb-4">
                                        <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-code-slash"></i></div>
                                        <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Languages</span></h3>
                                    </div>

                                    <div class="row row-cols-1 row-cols-md-3 mb-4">
                                    {% for lang in programming_languages %}
                                    
                                        <div class="col mb-4 mb-md-0"><div class="d-flex align-items-center bg-light rounded-4 p-3 h-100"> <span><img style="max-width: 50px;" src="/{{lang.image}}" alt=""></span>{{lang.name}}</div></div>
                           
                                    
                                    {% empty %}
                                    <p>No Data Available !</p>
                                    {% endfor %}

                                </div>

                                   
                                    
                                </div>

                                <!-- framework and tools list-->
                                <br>
                                <div class="mb-0">
                                    <div class="d-flex align-items-center mb-4">
                                        <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-code-slash"></i></div>
                                        <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Framework & Tools</span></h3>
                                    </div>



                                    <div class="row row-cols-1 row-cols-md-3 mb-4">

                                        {% for ftool in framework_tools  %}
                                        <div class="col mb-4 mb-md-0">
                                            <div class="d-flex align-items-center bg-light rounded-4 p-3 h-100"> 
                                                <div><span><img src="/{{ftool.image}}" style="max-width: 50px;" alt=""></span> {{ftool.name}} </div>
                                                
                                              </div>
                                        
                                    
                                    </div>
                                        {% empty %}
                                        <p>No Data Available !</p>
                                        {% endfor %}
                                        
                                      
                                 
                                </div>
                                
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>


{% endblock content %}